extends partials/layout
block variables
    -var pageConfig= {pageTitle:"游戏首页", pageName: "home", tabName: 'home'}
block append scripts
    script(src="./scripts/app/index.js")
block content
    audio#audioStart(src="sounds/tetrisStart.mp3",autoplay="true")
    audio#audioFail(src="sounds/tetrisFail.mp3",autoplay="no")
    audio#audioDown(src="sounds/tetrisDown.mp3",autoplay="no")
    audio#audioClear(src="sounds/tetrisClear.mp3",autoplay="no")
    .section-cover
    section
        #show
            .left-part
                .box
                    .part-Z
                        .block
                        .diamonds-box
                            .diamonds
                        .diamonds-box
                            .diamonds
                        .diamonds-box
                            .diamonds
                        .diamonds-box
                            .diamonds
                        .block
                    .part-T1
                        .diamonds-box
                            .diamonds
                        .block
                        .diamonds-box
                            .diamonds
                        .diamonds-box
                            .diamonds
                        .diamonds-box
                            .diamonds
                        .block
                    .part-O
                        .diamonds-box
                            .diamonds
                        .diamonds-box
                            .diamonds
                        .diamonds-box
                            .diamonds
                        .diamonds-box
                            .diamonds
                    .part-T2
                        .block
                        .diamonds-box
                            .diamonds
                        .diamonds-box
                            .diamonds
                        .diamonds-box
                            .diamonds
                        .block
                        .diamonds-box
                            .diamonds
                    .part-L
                        .diamonds-box
                            .diamonds
                        .diamonds-box
                            .diamonds
                        .block
                        .diamonds-box
                            .diamonds
                        .block
                        .diamonds-box
                            .diamonds
                    .part-I
                        .diamonds-box
                            .diamonds
                        .block
                        .diamonds-box
                            .diamonds
                        .block
                        .diamonds-box
                            .diamonds
                        .block
                        .diamonds-box
                            .diamonds
                        .block
            .mid-part
                .title
                    .title-block
                    .title-block
                    .title-block
                    .title-block
                    p 换
                    p 吧
                    p 网
                    p 络
                    p 科
                    p 技
                    .title-block
                    .title-block
                    .title-block
                    .title-block
                .border
                    .heightLight-border
                        .deep-border
                            .draw
                                .draw-cover
                                    .draw-cover-txt 换吧网络
                                .leveladd-cover 等级提升
                                canvas#mycanvas(width="111",height="221")
                            .game-message
                                #score
                                    .msg-title HI-SCORE
                                    .score
                                        .bg.nb 888888
                                        .number.nb 0
                                #lines
                                    .msg-title LINES
                                    .lines
                                        .bg.nb 888888
                                        .number.nb 0
                                #level
                                    .msg-title LEVEL
                                    .level
                                        .bg.nb 8
                                        .number.nb 1
                                #next
                                    .msg-title NEXT
                                    .next
                                        .bg
                                            .diamonds-box
                                                .diamonds
                                            .diamonds-box
                                                .diamonds
                                            .diamonds-box
                                                .diamonds
                                            .diamonds-box
                                                .diamonds
                                            .diamonds-box
                                                .diamonds
                                            .diamonds-box
                                                .diamonds
                                            .diamonds-box
                                                .diamonds
                                            .diamonds-box
                                                .diamonds
                                        .content
                                            .part-show.part-0
                                                .diamonds-box
                                                    .diamonds
                                                .diamonds-box
                                                    .diamonds
                                                .diamonds-box
                                                    .diamonds
                                                .diamonds-box
                                                    .diamonds
                                            .part-show.part-1
                                                .block
                                                .diamonds-box
                                                    .diamonds
                                                .diamonds-box
                                                    .diamonds
                                                .block
                                                .block
                                                .diamonds-box
                                                    .diamonds
                                                .diamonds-box
                                                    .diamonds
                                                .block
                                            .part-show.part-2
                                                .diamonds-box
                                                    .diamonds
                                                .diamonds-box
                                                    .diamonds
                                                .diamonds-box
                                                    .diamonds
                                                .block
                                                .block
                                                .diamonds-box
                                                    .diamonds
                                                .block
                                                .block
                                            .part-show.part-3
                                                .diamonds-box
                                                    .diamonds
                                                .block
                                                .block
                                                .block
                                                .diamonds-box
                                                    .diamonds
                                                .diamonds-box
                                                    .diamonds
                                                .diamonds-box
                                                    .diamonds
                                                .block
                                            .part-show.part-4
                                                .diamonds-box
                                                    .diamonds
                                                .diamonds-box
                                                    .diamonds
                                                .diamonds-box
                                                    .diamonds
                                                .block
                                                .diamonds-box
                                                    .diamonds
                                                .block
                                                .block
                                                .block
                                            .part-show.part-5
                                                .block
                                                .diamonds-box
                                                    .diamonds
                                                .diamonds-box
                                                    .diamonds
                                                .block
                                                .diamonds-box
                                                    .diamonds
                                                .diamonds-box
                                                    .diamonds
                                                .block
                                                .block
                                            .part-show.part-6
                                                .diamonds-box
                                                    .diamonds
                                                .diamonds-box
                                                    .diamonds
                                                .block
                                                .block
                                                .block
                                                .diamonds-box
                                                    .diamonds
                                                .diamonds-box
                                                    .diamonds
                                                .block
                                            .part-show.part-7
                                                .diamonds-box
                                                    .diamonds
                                                .diamonds-box
                                                    .diamonds
                                                .diamonds-box
                                                    .diamonds
                                                .diamonds-box
                                                    .diamonds

                                #bottom-msg
                                    .sound
                                        .icon-mute.bg
                                        .icon-mute.txt
                                    .pause
                                        .icon-pause.bg
                                        .icon-pause.txt
                                    .time
                                        span.nb.hours
                                        span.nb.point :
                                        span.nb.minutes
            .right-part
                .box
                    .part-Z
                        .diamonds-box
                            .diamonds
                        .block
                        .diamonds-box
                            .diamonds
                        .diamonds-box
                            .diamonds
                        .block
                        .diamonds-box
                            .diamonds
                    .part-T2
                        .block
                        .diamonds-box
                            .diamonds
                        .diamonds-box
                            .diamonds
                        .diamonds-box
                            .diamonds
                        .block
                        .diamonds-box
                            .diamonds
                    .part-O
                        .diamonds-box
                            .diamonds
                        .diamonds-box
                            .diamonds
                        .diamonds-box
                            .diamonds
                        .diamonds-box
                            .diamonds
                    .part-T1
                        .diamonds-box
                            .diamonds
                        .block
                        .diamonds-box
                            .diamonds
                        .diamonds-box
                            .diamonds
                        .diamonds-box
                            .diamonds
                        .block
                    .part-L
                        .diamonds-box
                            .diamonds
                        .diamonds-box
                            .diamonds
                        .diamonds-box
                            .diamonds
                        .block
                        .diamonds-box
                            .diamonds
                        .block
                    .part-I
                        .block
                        .diamonds-box
                            .diamonds
                        .block
                        .diamonds-box
                            .diamonds
                        .block
                        .diamonds-box
                            .diamonds
                        .block
                        .diamonds-box
                            .diamonds
        #heightBlock
            img(src="images/fengge.png")
        #operation
            .left-part

                ul
                    li#rotate.blue
                        .bg
                            .pic-cover
                            .pic
                        .txt
                            p 变换
                    li#left.blue
                        .bg
                            .pic-cover
                            .pic
                        .txt
                            p 左移
                    li.direction
                        .content
                            .top-block
                            .left-block
                            .right-block
                            .bottom-block
                    li#right.blue
                        .bg
                            .pic-cover
                            .pic
                        .txt
                            p 右移
                    li#down.blue
                        .bg
                            .pic-cover
                            .pic
                        .txt
                            p 下落
            .right-part
                ul
                    li#peset.red
                        .bg
                            .pic-cover
                            .pic
                        .txt 复位
                    li#sound.green
                        .bg
                            .pic-cover
                            .pic
                        .txt 声音
                    li#pasueStart.green
                        .bg
                            .pic-cover
                            .pic
                        .txt 暂停
                    li#options.pink
                        .bg
                            .pic-cover
                            .pic
                        .txt 分享
                #quick.blue
                    .bg
                        .pic-cover
                        .pic
                    .txt 启动游戏
