@charset "utf-8";
body,* {
  font-family: Helvetica, Tahoma, Arial, "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "WenQuanYi Micro Hei", SimSun, Song, sans-serif;
  font-size:8px;
  -webkit-touch-callout:none;
  touch-callout:none;
  user-select:none;
}


